$color-blanco:white;
$color-gris:#a9a9a9;
$color-azul:#22333b;
$color-marron:#5e503f;
$color-beige:#c6ac8f;

$ff-pacifico:'Pacifico';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/diseno-patron-cafe.avif");
}

.titulos {
    font-family: $ff-pacifico;  
}

.txt-blanco {
    color: $color-blanco;
}

.txt-gris {
    color: $color-gris;

    &:hover {
        color: $color-blanco;
    }
}

.bg-color-1 {
    background-color: $color-azul;
}

.bg-color-2 {
    background-color: $color-marron;
}

.bg-color-3 {
    background-color: $color-beige;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.caja {
    
}